#about-title{
    font-size: 70px;
    margin-left: 50px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.about-store{
    margin-left: 40px;
    font-size: 30px;
    padding-bottom: 50px;
}

#special-dish{
    font-size: 70px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}

.about-dishes{
    margin-left: 40px;
    font-size: 30px;
}